#calculator * {
		font-size: 16px;
	}
	#calculator table {
		border: solid 3px silver; border-spacing: 3px;background-color: #EEE; 
	}
	#calculator table td {
		border-spacing: 5px; color:#878787;

	}
	input.display {
		width: 360px; height: 40px;text-align: right;
	}
	td.buttons {
		border-top: solid 2px silver;
		background: #878787;
	}	
	.buttons{
		background: #801CC5;
	}
	
	input[type= button] {
		width: 70px; height: 50px;
	}

